*{
    padding: 0px;
    margin: 0px 0px;
    box-sizing: border-box;
}
html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
    background-color: black;
}
:root{
    --cinza: rgb(155, 155, 155);
}
h1{
    color: var(--cinza);
    font-size: 250%;
    margin: 1% 0%;
    text-align: center;
}
nav{
    height: 20%;
    border: 2px solid;
}
hr{
    border-color: var(--cinza);
}
.busca{
    height: 40%;
    display: grid;
    grid-template-columns: 95% 5%;
    box-shadow: 0px 2px blue;
}
.campo__busca{
    height: 70%;
    margin-top: 0.5%;
    margin-left: 80%;
}
.lupa{
    margin-top: 4%;
    height: 80%;
    width: 70%;
}
.infors{
    height: 70%;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
}
.poster{
    height: 80%;
    width: 60%;
    margin: 10% 20%;
    color: red;
    border: 2px solid;
    border-color: var(--cinza);
}
li{
    color: var(--cinza);
    list-style: none;
    display: inline-block;
    margin: 4% 2%;
    font-size: 140%;
}
.enredo{
    color: var(--cinza);
}
.texto_tamanho{
    font-size: 70%;
}
.github{
    margin-left: 90%;
    margin-top: 0.4%;
    background-color: white;
    width: 4%;
}
.instragam{
    width: 4%;
}